<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <%= image_tag asset_path("frinkiac-homer-gorging-gif.gif"), width: 250%>
   <%= image_tag asset_path("giphy.gif"), width: 250%>
<%= yield %>
</div>

</body>
</html>
